@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import "app.css";

* {
    padding: 0;
    margin: 0;
    font-family: var(--text-body);
    box-sizing: border-box;
}

body {
   background-color: var(--bg-color);
}

/* Start : Login Form */

.login-form {
    display: flex;
    align-items: center;
}

.banner-login > img {
    width: 700px;
    height: 100vh;
}

/* End : Login Form */


/* Start : Login Page */
.login {
    width: 100%;
}

form {
    width: 55%;
    margin: 5% auto;
    border: 2px solid #f1f1f1;
    padding: 30px;
    border-radius: var(--rounded-s);
    background-color: white;
    position: relative;
    z-index: 5;
}

.form-control {
    border-radius: var(--rounded-full);
    padding: 12px 20px;
}

.btn-login {
    border-radius: var(--rounded-full);
}

.btn-register {
    border-radius: var(--rounded-full);
}

/* Start : Modal */

.modal-window {
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: 1s ease-in-out;
    z-index: 8;
    display: block ;
}

.modal-wrapper {
    position: relative;
    margin: 12% auto;
    width: 30%;
    background-color: var(--neutral-100);
    padding: 30px;
    border-radius: var(--rounded-m);
}

.icon-cross {
    margin-bottom: 30px;
    color: var(--danger);
}

.modal-header {
    display: flex;
    flex-direction: column;
}

.modal-header > h4 {
    font-size: var(--text-heading-xs);
    font-weight: var(--text-semibold);
    color: var(--neutral-900);
}

.modal-body > p {
    font-size: var(--text-paragraph);
    color: var(--neutral-600);
    margin-top: 16px;
    margin-bottom: 30px;
}

/* End : Modal */

/* End : Login Page */

