@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import "./app.css";

* {
    padding: 0;
    margin: 0;
    font-family: var(--text-body);
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
}

.quiz-container {
    padding: 4em;
}

.instruction-wrapper {
    padding: 1em 2em;
    background-color: var(--primary-color);
    color: var(--neutral-200);
    border-radius: var(--rounded-m);
}


.divider {
    color: var(--neutral-200);
}

.instruction-head {
    display: flex;
    gap: 15px;
}

.instruction-head > h4 {
    font-size: var(--text-heading-xs);
    font-weight: var(--text-semibold);
    margin: 0;
}

.instruction-body ul {
    padding: 0 2em;
    margin: 10px;
}

.instruction-body li {
    font-size: var(--text-paragraph);
    margin: 0;
}

.quiz-wrapper {
    display: flex;
    flex-direction: row-reverse;
}

.quiz {
    background-color: white;
    width: 60%;
    padding: 1em;
    border-radius: var(--rounded-s);
}

.quiz > hr {
    color: var(--neutral-500);
}

.quiz-head {
    display: flex;
}

.page > p {
    margin: 0;
    color: var(--primary-color);
    font-weight: var(--text-semibold);
}

.question > p {
    font-size: var(--text-paragraph);
    font-weight: var(--text-semibold);
    color: var(--neutral-900);
}

.options ul {
    padding: 0;
}

.options ul li {
    list-style: none;
    margin-bottom: 10px;
    color: var(--neutral-600);
}

.options li {
    border: 1px solid var(--neutral-400);
    padding: 8px;
    font-weight: var(--text-semibold);
    border-radius: var(--rounded-2xs);
    cursor: pointer;
}

.options li:hover {
    background-color: var(--neutral-200);
    cursor: pointer;
    transition: all 0.4s ease;
}

.pagination {
    display: flex;
}

.number-pagination {
    width: 35%;
    background-color: white;
    border-radius: var(--rounded-m);
    padding: 30px;
}


.number-container {
    display: flex;
    gap: 15px;
}

.number {
    font-size: var(--text-paragraph);
    width: 40px;
    padding: 6px;
    background-color: var(--neutral-100);
    border: 2px solid var(--neutral-500);
    border-radius: var(--rounded-2xs);
    color: var(--neutral-900);
}

.number:hover {
    cursor: pointer;
}
