@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import "app.css";

* {
    padding: 0;
    margin: 0;
    font-family: var(--text-body);
    box-sizing: border-box;
}

body {
   background-color: var(--bg-color);
}

/* Start : Navbar */

.navbar {
    align-items: center;
    padding: 10px 50px;
    width: 100%;
    position: relative;
    z-index: 3;
 }
 
 .navbar-brand {
     font-weight: var(--text-semibold);
     font-size: 30px;
 }
 
 .btn-login {
     background-color: var(--neutral-100);
     color: var(--primary-color);
     font-weight: var(--text-semibold);
     padding: 6px 20px;
     transition: 0.5s;
     border-radius: var(--rounded-full);
 }
 
 .btn-login:hover {
     border: solid 2px var(--neutral-100);
     color: var(--text-white);
 }
 
 .btn-login:focus {
     border: solid 2px var(--neutral-100);
     color: var(--text-white);
 }
 
 .nav-link {
     color: var(--text-white);
 }

 /* End : Navbar */


 /* Start : Banner */

.banner-submission {
    margin-top: 5em;
    display: flex;
    align-items: center;
    background-color: var(--neutral-200);
    padding: 2em 4em 3em;
}

.title-submission {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.submission-body {
    color: var(--neutral-600);
    font-size: var(--text-paragraph);
}

.title {
    margin-left: 50px;
}

.mapel-submission {
    font-size: var(--text-paragraph);
    color: var(--neutral-500);
}

.modul-chapter {
    color: var(--primary-color);
    font-weight: var(--text-medium);
}

.submission-img-banner {
    border-radius: var(--rounded-m);
}

.btn-mapel {
    width: 15%;
}

/* End : Banner */


/* Start : Mapel Container */

.submission-description {
    padding: 4em;
}

.submission-instruction > h3 {
    font-size: var(--text-heading-xs);
    font-weight: var(--text-semibold);
    color: var(--neutral-900);
}

.submission-instruction > p {
    font-size: var(--text-paragraph);
    color: var(--neutral-600);
}

.submission-instruction ul li {
    font-size: var(--text-paragraph);
    width: 80%;
    color: var(--neutral-600);
}

.submission-field {
    margin-top: 3em;
    border: 2px solid var(--neutral-400);
    padding: 15px 20px;
    border-radius: var(--rounded-xs);
    display: flex;
    margin-bottom: 6em;
}

.submission-detail > h3 {
    font-size: var(--text-heading-xs);
    font-weight: var(--text-semibold);
    color: var(--neutral-900);
}

.submission-detail > p {
    font-size: var(--text-paragraph-m);
    color: var(--neutral-600);
}

.btn-submission {
    width: 100px;
    font-weight: var(--text-medium);
}

/* End : Mapel Container */

/* Start : Pagination */
.pagination {
    display: flex;
    padding: 1.5em 4em;
    background-color: var(--neutral-200);
    position: fixed;
    bottom: 0;
    width: 100%;
}

.btn-previous {
    border-radius: var(--rounded-m);
    padding: 8px 15px;
}

.btn-next {
    border-radius: var(--rounded-m);
    padding: 8px 15px;
}
/* End : Pagination */